$default-font: "Roboto", sans-serif;

$color-yellow: #f5c21c;
$color-black: #101010;
$color-white: #ffffff;
$color-red: #d42d2d;
$color-green: #0fc95d;

// $bp-desktop-large: 1740px;
$bp-desktop-large: 2100px;
$bp-laptop-small: 1417px;
$bp-tablet: 940px;
$bp-phone-m: 424px;
$bp-phone-l: 450px;
