.footer {
  height: 15vh;
  width: 100%;
  background-color: $color-yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  &__list {
    width: 40%;
    height: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
}

@media only screen and (max-width: $bp-tablet) {
  .footer {
    height: auto;
    &__list {
      flex-direction: column-reverse;
      &--item {
        margin: 2rem 0 2rem 0;
      }
    }
  }
}
